.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	color: black;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: white;
}

.image {
	box-sizing: content-box;
	background: black;
	width: 100%;
	position: absolute;
	top: 0px;
	align-items: center;
	display: flex;
	justify-content: center;
	overflow: hidden;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.body {
	display: flex;
	align-items: left;
	flex-direction: column;
	width: 100%;
	position: relative;
	gap: 20px;
	top: 150px;
	padding: 20px 20px 0px 20px;
	font-size: 0.9rem;
}

.body ul li {
	padding-left: 10px;
	padding-bottom: 20px;
	list-style: none;
	display: flex;
	align-items: top;
	gap: 10px;
	font-size: 1rem;
}

.body h1 {
	font-size: 2rem;
}

.subscribe {
	display: flex;
	flex-direction: column;
	align-items: left;
	gap: 10px;
	position: relative;
	bottom: -100px;
}

.subscribe label {
	font-size: 0.8rem;
	font-weight: bold;
}

.subscribe input {
	width: 330px;
	height: 50px;
	padding-left: 30px;
	border-radius: 10px;
	background: white;
	color: hsl(231, 7%, 60%);
	outline-color: hsl(231, 7%, 60%);
}

.subscribe button {
	width: 330px;
	height: 50px;
	background: hsl(4, 100%, 67%);
	border-radius: 10px;
	cursor: pointer;
}
